.container {
    border: 1px solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-color: rgba(196, 196, 196, 0.1);
    margin-left: 70px;
    margin-right: 75px;
    margin-top: 20px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    background: rgba(196, 196, 196, 0.1);
    border-radius: 3px;
    cursor: pointer;
}

.row-category {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.row-style {
    color: #fff;
    font-size: 14px;
}

.row-date-style {
    color: #ccc;
    font-size: 12px;
    padding-left: 5px;
    align-self: center;
    padding-top: 2px;
}