.auth-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 70px 0 50px 0;
    .auth-container {
        color: #FFFFFF;
        font-size: 16px;
        max-width: 90%;
        width: 600px;
        max-height: 100%;
        overflow-y: auto;
        text-align: center;
        border: 2px solid #FD8957;
        border-radius: 10px;
        .logo {
            max-height: 80px;
            margin-bottom: 16px;
        }
        .MuiTab-root {
            width: 50%;
            &.Mui-selected {
                color: #FD8957;
            }
        }
        .MuiTabs-indicator {
            background-color: #FD8957;
        }
        .title {
            color: #FD8957;
            font-size: 24px;
            font-weight: 900;
        }
        .sub-title {
            font-size: 16px;
        }
    }
    @media (max-width: 360) {
        .auth-container {
            padding: 0 !important;    
        }
    }
    @media (min-width: 360) and (max-width: 720px) {
        .auth-container {
            padding: 16px !important;    
        }
    }
    @media (min-width: 720px) {
        .auth-container {
            padding: 16px 48px;
            color: #FFFFFF;
            font-size: 16px;
            max-width: 90%;
            width: 600px;
            max-height: 100%;
            overflow-y: auto;
            text-align: center;
            border: 2px solid #FD8957;
            border-radius: 10px;
            .logo {
                max-height: 80px;
                margin-bottom: 16px;
            }
            .MuiTab-root {
                width: 50%;
                &.Mui-selected {
                    color: #FD8957;
                }
            }
            .MuiTabs-indicator {
                background-color: #FD8957;
            }
            .title {
                color: #FD8957;
                font-size: 24px;
                font-weight: 900;
            }
            .sub-title {
                font-size: 16px;
            }
        }
    }   
}