<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <title><%= htmlWebpackPlugin.options.title || '' %></title>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=1"
    />
    <meta property="og:type" content="website" />
  </head>
  <body>
    <div id="root" style="min-height: 100vh;"></div>
    <% if (htmlWebpackPlugin.options.window) { %>
    <script>
      <% for (var varName in htmlWebpackPlugin.options.window) { %>
        window['<%= varName %>'] = <%= JSON.stringify(htmlWebpackPlugin.options.window[varName]) %>;
        <% } %>
    </script>
    <% } %> <% if (htmlWebpackPlugin.options.googleAnalytics) { %>
    <script>
      (function(i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function() {
          (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
          m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
      })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

      <% if (htmlWebpackPlugin.options.googleAnalytics.trackingId) { %>
        ga('create', '<%= htmlWebpackPlugin.options.googleAnalytics.trackingId %>', 'auto');
        <% } else {
          throw new Error("html-webpack-template requires googleAnalytics.trackingId config");
        } %>

        <% if (htmlWebpackPlugin.options.googleAnalytics.pageViewOnLoad) { %>
          ga('send', 'pageview');
          <% } %>
    </script>
    <% } %>
    <noscript>
      <div
        style="align-items: center; display: flex; font-size: 30px; justify-content: center; min-height: 100vh;"
      >
        This website need Javascript. Please turn it on.
      </div>
    </noscript>
  </body>
</html>
