.header {
    position: fixed;
    width: 100%;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
}

@media (min-width: 1200px) {
    .header {
        position: relative;
    }
}