.sidebar {
    width: 200px;
    min-height: 100vh;
    padding-left: 1rem;
    background: linear-gradient(180deg, #404040 100%, #0C0C0C 100%);
    .logo-container {
        width: 100%;
        text-align: center;
        .logo {
            max-width: 100%;
            max-height: 120px;
            margin: auto;
        }
    }
}