.layout-container {
    display: flex;
    background: linear-gradient(180deg, #404040 100%, #0C0C0C 100%);
    min-height: 100vh;
    .main {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        @media (max-width: 1200px) {
            margin-top: 70px;
        }
    }
}